/* Styles for BaseSelect */

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 300;
  text-transform: capitalize;
}

.error {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease-in-out;
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--error);
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}

.errorContent {
  overflow: hidden;
}

.errorOpen {
  grid-template-rows: 1fr;
}

/* select */

/* .control {
  border-color: var(--neutral) !important;
  box-shadow: var(--shadow-common) !important;
} */
