/* Styles for HabitLastDaysChart */

.chart {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  flex: 1 0 auto;
  font-size: 2rem;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.bars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.bar {
  display: flex;
  height: 100%;
  flex: 1 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.indicator {
  height: 25rem;
  width: 100%;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.label {
  text-align: center;
  width: 2rem;
  height: 2rem;
}

.completed {
  background-color: var(--success);
}

.missed {
  background-color: var(--error);
}

.unmarked {
  background-color: var(--neutral);
}

@media (480px <= width <= 768px) {
  .chart {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (width >= 768px) {
  .chart {
    max-width: 50%;
    width: auto;
    text-align: left;
  }
}

@media (768px <= width <= 1024px) {
  .bars {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    flex: 0 1 auto;
    height: 2rem;
  }

  .indicator {
    height: 100%;
    width: 100%;
    background-color: var(--neutral);
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    border-top-left-radius: 0;
  }

  .label {
    text-align: center;
    width: 2rem;
    height: 2rem;
  }
}
