.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.native {
  position: absolute;
  opacity: 0;
}

.box {
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--text-color-secondary);
  border-radius: var(--rounded-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.check {
  padding: 2px;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease-in-out;
}

.native:checked + .box .check {
  opacity: 1;
  background-color: var(--bg-color-secondary);
}
