/* Styles for Diagram */

@property --progress {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

/* @keyframes fill-progress {
  from {
    --progress: 0;
  }

  to {
    --progress: var(--progress);
  }
} */

.diagram {
  position: relative;
  width: var(--width);
  aspect-ratio: 1;
  transition: --progress 0.8s ease-in-out;
}

.diagram::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    var(--success) calc(var(--progress) * 1%),
    var(--neutral) 0
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--thickness)),
    #000 calc(100% - var(--thickness))
  );
}

.diagramInfo {
  position: absolute;
  inset: calc(var(--thickness));
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
