.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
  max-width: 95%;
  margin: 2.5rem auto;
}

.main {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 2.5rem 0;
  min-height: 0;
  border-radius: var(--border-block);
}

.main > section + section {
  margin-top: 2.5rem;
}
