.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
  max-width: 95%;
  margin: 2.5rem auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 1 1 auto;

  /* overflow-y: auto; */
  min-height: 0;
  margin: 6.5rem 0;
  border-radius: var(--rounded-block);
}
