/* Styles for DailyCalendarProgress */

.calendar {
  display: flex;
  gap: var(--indicator-gap, 1rem);
  margin-top: 1rem;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.indicator {
  width: var(--indicator-size, 2rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--neutral);
}

.completed {
  background-color: var(--success);
}

.missed {
  background-color: var(--error);
}

.unmarked {
  background-color: var(--neutral);
}
