/* Styles for Section */

.base {
  padding: 2rem 1.5rem;
  font-size: 1.6rem;
}

.card {
  background-color: var(--bg-color-primary);
  border-radius: var(--rounded-block);
  box-shadow: var(--shadow-common);
}
