/* Styles for Section */

.containerWrapper {
  padding: 2rem 1.5rem;
  font-size: 1.6rem;
  background-color: var(--bg-color-primary);
  border-radius: var(--rounded-block);
  box-shadow: var(--shadow-common);
}
