/* Styles for HabitCard */

.habitCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-color-primary);
  border-radius: var(--rounded-md);
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5rem;
}

.menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease-in-out;
}

.menuOpen {
  grid-template-rows: 1fr;
}

.menuContent {
  overflow: hidden;
}

.menuActions {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  box-shadow: var(--shadow-common);
}

.menuActionDanger {
  color: var(--error);
}
