/* Styles for HabitCard */

.habitCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-color-primary);
  border-radius: var(--rounded-md);
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5rem;
}

.actionsWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease-in-out;
}

.open {
  grid-template-rows: 1fr;
}

.actionsContent {
  overflow: hidden;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  box-shadow: var(--shadow-common);
}

.removeButton {
  color: var(--error);
}
