/* Styles for HabitCompletionOverview */

.overview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 0 auto;
  font-size: 2rem;
  max-width: 55%;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4%;
}

.percentage {
  font-size: 3rem;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.legendIndicator {
  display: inline-block;
  width: 1.4rem;
  aspect-ratio: 1;
  border-radius: var(--rounded-full);
  background-color: var(--neutral);
}

.completed {
  background-color: var(--success);
}

.missed {
  background-color: var(--error);
}

.neutral {
  background-color: var(--neutral);
}
