/* Styles for HabitManagement */

.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 auto;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.filter {
  margin-top: 3.5rem;
  display: flex;
  gap: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 auto;
}

.noItemsContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
  margin-left: 1.5rem;
}
