/* Styles for CtatisticBricks */

.statisticBricksWrapper {
  display: flex;
  gap: 2rem;
}

.brickWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1 1 auto;
}

.brickProgressBarWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
