/* Styles for HabitKanbanColumn */

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--bg-column);
  border-radius: var(--rounded-md);
}

.columnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.columnTitle,
.columnCount {
  font-weight: 600;
  font-size: 2rem;
}

.columnCount {
  font-weight: 400;
}

.columnBody {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
