/* Styles for HabitItem */

.habitItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.percentage {
  font-weight: 700;
  font-size: 2.5rem;
}

.subtitle {
  font-weight: 100;
  color: var(--text-color-secondary);
}
