/* Styles for HabitItem */

.habitItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-color-primary);
  border-radius: var(--border-block);
  padding: 2rem 1.5rem;
  font-size: 1.6rem;
}

.percentage {
  font-weight: 700;
  font-size: 2.5rem;
}

.subtitle {
  font-weight: 100;
  color: var(--text-color-secondary);
}
