/* Styles for HabitCharts */

.charts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
  overflow: hidden;
}

@media (width >= 768px) {
  .charts {
    flex-direction: row;
    justify-content: space-around;
  }
}
