/* Styles for BaseModal */
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background-color: rgb(0 0 0 / 40%);
}

.modal {
  width: 100%;
  max-width: 40rem;
  max-height: 90vh;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--bg-color-primary);
  box-shadow: 0 4px 20px rgb(0 0 0 / 30%);
}
