/* Styles for HabitManagement */

.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 auto;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin-top: 3rem;
  gap: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 auto;
}

@media (width >= 480px) {
  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
