/* Styles for Button */

@keyframes move-ligth {
  from {
    transform: translateX(0) skewX(-45deg);
  }

  to {
    transform: translateX(500%) skewX(-45deg);
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: var(--rounded-md);
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.buttonWrapper:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.primary {
  background-color: var(--bg-color-secondary);
  color: var(--bg-color-primary);
}

.primary:hover {
  background: color-mix(in srgb, var(--bg-color-secondary) 90%, black);
}

.ghost {
  background-color: var(--bg-color-primary);
}

.basic {
  font-weight: 500;
  background-color: var(--bg-column);
}

.basic:hover {
  background: color-mix(in srgb, var(--bg-column) 95%, black);
}

.icon {
  position: relative;
  padding: 0.5rem;
  border-radius: var(--rounded-full);
}

.icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  background-color: var(--text-color-secondary);
  opacity: 0.3;
  transform: translateX(0) skewX(-45deg);
}

.icon:hover::before {
  animation: move-ligth 0.5s ease-in-out forwards;
}
