/* Styles for HabitKanbanBoard */

.kanban {
  display: grid;
  grid-template-columns: repeat(5, minmax(20rem, 1fr));
  flex: 1 1 auto;
  min-height: 0;
  gap: 1rem;
  font-size: 1.6rem;
  overflow-y: auto;
}
