body {
  line-height: 1.5;
}

html {
  font-family: Archivo, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #ececec;
}

:root {
  --bg-color-primary: #fff;
  --bg-color-secondary: #b5e5bb;
  --bg-dark-green: #2eae39;
  --text-color-primary: #363636;
  --text-color-secondary: #a2a6a9;
  --border-block: 1.5rem;
  --border-md: 1rem;
}
