body {
  line-height: 1.2;
}

html {
  font-family: Archivo, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #ececec;
}

body,
html {
  scroll-behavior: smooth;
  color: var(--text-color-primary);
}

/* :is(h1, h2, h3, h4, h5, h6) {
  color: var(--text-color-primary);
} */

:root {
  --bg-color-primary: #fff;
  --bg-color-secondary: #76c77d;
  --bg-accent: #edf8f1;
  --bg-column: #f1f5f2;
  --success: #b5e5bb;
  --error: #e6a8a6;
  --text-color-primary: #363636;
  --text-color-secondary: #a2a6a9;
  --text-light-gray: #e5e5e5;
  --rounded-block: 1.5rem;
  --rounded-md: 1rem;
  --rounded-full: 50%;
}
