html {
  font-size: 62.5%;
}

/* tab-land: max-width: 75em */
@media (width <= 75em) {
  html {
    font-size: 56.25%;
  }
}

/* tab-port: max-width: 56.25em */
@media (width <= 56.25em) {
  html {
    font-size: 50%;
  }
}

/* big-desktop: min-width: 112.5em */
@media (width >= 112.5em) {
  html {
    font-size: 75%;
  }
}
