/* Styles for Footer */

.footerWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-color-primary);
  box-shadow: var(--shadow-top);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-primary);
  border-radius: var(--rounded-block);
  padding: 1.5rem;
  font-size: 1.5rem;
}

.navList {
  display: flex;
  gap: 4rem;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.navLinkActive {
  color: var(--bg-color-secondary);
}
