/* Styles for HabitItem */

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: opacity 0.2s ease-in-out transform 0.2s ease-in-out;
  overflow: hidden;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.stats {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lastDays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.itemFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.streaks {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controls {
  display: flex;
  gap: 1rem;
}

.menuButton {
  z-index: 50;
  background-color: var(--bg-color-primary);
}
