/* Styles for ProgressBar */

.bar {
  width: 100%;
}

.track {
  position: relative;
  width: 100%;
  height: var(--bar-height);
  background-color: var(--neutral);
  border-radius: var(--rounded-md);
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background-color: var(--bg-color-secondary);
  border-radius: var(--rounded-md);
  transition: width 0.3s ease-in-out;
}
