/* Styles for DailyCalendarProgress */
.calendarPointsWrapper {
  max-width: 98%;
  width: 100%;
  margin: 0 auto;
  color: var(--text-color-secondary);
  font-weight: 100;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
}

.calendarContent {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.calendarPoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.indicator {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--neutral);
}

.done {
  background-color: var(--success);
}

.notDone {
  background-color: var(--error);
}
