/* Styles for Overview */

.overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  display: inline-block;
  width: fit-content;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  border-radius: var(--rounded-md);
  color: var(--text-color-primary);
  background-color: var(--bg-accent);
}
