/* Styles for Overview */

.overviewWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.completedInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  font-weight: 100;
  color: var(--text-color-secondary);
}

/* .progressBarWrapper {
} */

.progressBar {
  position: relative;
  height: var(--bar-height, 6px);
  width: 100%;
  background-color: var(--neutral);
  border-radius: var(--rounded-md);
}

.progressBarCompleted {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background-color: var(--bg-color-secondary);
  border-radius: var(--rounded-md);
  transition: width 0.3s ease-in-out;
}

.span {
  display: inline-block;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: var(--rounded-md);
  color: var(--text-color-primary);
  background-color: var(--bg-accent);
}
