/* Styles for SubHeader */

.subHeaderWrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem;
  gap: 1.5rem;
}

.subHeaderInfo {
  display: flex;
  gap: 1.5rem;
  font-size: 1.6rem;
}
