/* Styles for ErrorPage */

.wrapper {
  display: flex;
  font-size: 2rem;
  flex: 1 1 auto;
}

.fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  flex: 1 1 auto;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  border-radius: var(--rounded-md);
  overflow: hidden;
}

.image > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error {
  display: contents;
  color: var(--error);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.retry {
  background-color: var(--today);
}
