/* Styles for BaseTextField */

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* font-size: 1.6rem; */
}

.label {
  font-weight: 300;
  text-transform: capitalize;
}

.textarea {
  padding: 1rem;
  outline: none;
  border: none;
  box-shadow: var(--shadow-common);
  border-radius: var(--rounded-sm);
  font-size: 1.6rem;

  /* transition: outline 0.2s ease-in-out; */
}

.input::placeholder {
  font-size: 1.6rem;
  color: var(--text-color-secondary);
}

.input:focus {
  outline: 1px solid var(--bg-color-secondary);
}
