/* Styles for HabitItem */

.habitCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.progressDiagram {
  margin: 0 auto 1rem;
}

.percentage {
  font-weight: 700;
  font-size: 2.5rem;
}

.subtitle {
  font-weight: 100;
  color: var(--text-color-secondary);
}

.activitySection {
  max-width: 98%;
  width: 100%;
  margin: 0 auto;
  color: var(--text-color-secondary);
}

.activityHeader {
  display: flex;
  justify-content: space-between;
}

@media (width >= 768px) {
  .activityHeader {
    display: none;
  }
}
