/* Styles for AuthFormShell */

.shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: min(90%, 45rem);
  margin: 0 auto;
  box-shadow: 0 10px 30px rgb(0 0 0 / 8%);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer {
  text-align: center;
}
