/* Styles for HabitActions */

.habitActionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: var(--rounded-md);
  background-color: var(--bg-accent);
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-weight: 100;
  color: var(--text-color-secondary);
}

.controls {
  display: flex;
  gap: 1rem;
}
