/* Styles for HabitLastDaysChart */

.chart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 0 auto;
  font-size: 2rem;
  max-width: 45%;
  width: 100%;
}

.bars {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  /* border: 1px solid black; */
}

.bar {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.indicator {
  height: 25rem;
  width: 100%;
  background-color: var(--text-light-gray);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}
